{% extends "layout.html" %}
{% block content %}
<h1>About</h1>
<article class="media content-section col-md-12">   
        <div>
        <h2>Technologies Used:</h2>
        <ul class="list-group">
            <li class="list-group-item"> APIS : NewsApi.org</li>     
            <li class="list-group-item"> Databases: PSQL</li>
            <li class="list-group-item"> Framework: Flask</li>
            <li class="list-group-item"> Webscraper: Scrapy</li>
            <li class="list-group-item"> Pipelines: Python</li></ul>

</article>
<div><p>Powered by NewsApi.org</p></div>
{% endblock content %}