<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='buenos-ico.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
    {% if title %}
        <title>{{ title }} BUENOS</title>
    {% else %}
        <title> BUENOS </title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <header class="site-header">
                <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #c7efd0;">
                    <div class="container">
                    <a class="navbar-brand mr-4" href="/">
                      <img src="{{ url_for('static', filename='buenos-solid4.png')}}" width="30" height="30" class="d-inline-block align-top mr-4"  alt="">BUENOS</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav ml-1">
                            <form class="form-inline my-2 my-lg-0 mr-4" method="GET" action="/search">
                                <input class="form-control mr-sm-2" name="search" id="query" type="search" placeholder="Busca" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit" >Busca</button>
                            </form>
                        <a class="nav-item nav-link ml-5" href="/ultimos">Ultimos</a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle ml-5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/naturaleza">Naturaleza</a>
                              <a class="dropdown-item" href="/tech">Technologia</a>
                            </div>
                          </li>
                        </div>
                       </div>
                      </div>
                    </div>
                  </nav>
                </header>
                <main role="main" class="container">
                        <div class="row">
                                <div class="col-md-8">
                                  {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                      {% for category, message in messages %}
                                        <div class="alert alert-{{ category }}">
                                          {{ message }}
                                        </div>
                                      {% endfor %}
                                    {% endif %}
                                  {% endwith %}
                            {% block content %}{% endblock %}

                      </main>
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
